{% extends 'BasePage.html' %}

{% block pageTitle %}
寵物用品購買網
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block Header %}
<!-- Header-->
        <header class="py-5 h-200" style="background-color: rgba(0, 0, 0, .3);background-image:url(../static/images/CAT.jfif);background-repeat:no-repeat;background-size: cover;background-blend-mode: multiply; height: 41.7rem;">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-4">呵護你的毛寶貝們</h1>
                                <p class="text-white mb-4" style="font-size: 1.2em;">隨著人口結構和生活型態改變，越來越多人選擇飼養寵物，尤其近兩年受到新冠肺炎影響，不少民眾被迫長時間居家，無聊、孤獨的日子若有寵物相伴，也為平淡無奇的生活增添了不少樂趣，甚至現在也出現了全球的「寵物嬰兒潮」，刺激寵物商機出籠，宅在家為愛貓、愛犬購買日常用品、或者娛樂商品，一起呵護家裡的毛寶貝們。</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-danger btn-lg px-4 me-sm-3" href="/product">開始購物</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="/news">寵物新聞</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block mainContent %}    

{% endblock %}

