{% extends "BasePage.html" %}

{% block pageTitle %}
會員註冊
{% endblock %}

{% block css %}

{% endblock %}


{% block js %}
	<script>
		function checkPwd(){
			var p = document.getElementsByName("pwd")[0].value;
			var p2 = document.getElementsByName("repwd")[0].value;
			if (p == p2){
				return true;
			}else{
				alert("密碼配對有誤，請重新輸入");
				return false;
			}
		}
	</script>

{% endblock %}


{% block mainContent %}

<section class="py-5 border-bottom" style="width: 100%; background-color: rgba(255,150,150,.15); background-image: url(/static/images/bgi.png); background-repeat:no-repeat; background-size: cover; background-blend-mode: multiply; background-attachment: fixed;">  
		<h2 style="width: 100%; text-align: center;" class="fw-bold">會員註冊</h2>
	<div class="container w-50" style="min-height: 28.6rem;">

		<div id="message">

			<p style="color: red; text-align: center;">{{msg}}</span>

			<form class="contact_form" action="" method="post" onsubmit="return checkPwd()">
				{% csrf_token %}

				<div class="form-group">
					<label>姓名</label>
					<input type="text" name="userName" class="form-control" required placeholder="請輸入姓名"/>
				</div>
				<p></p>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control" required placeholder="請輸入Email"/>
				</div>
				<p></p>
				<div class="form-group">
					<label>密碼</label>
					<input type="password" name="pwd" class="form-control" required placeholder="請輸入密碼" />
				</div>
				<p></p>
				<div class="form-group">
					<label>再確認密碼</label>
					<input type="password" name="repwd" class="form-control" required placeholder="請再次輸入密碼" />
				</div>
				<p></p>
				<div class="form-group">
					<label>性別</label>
					<input type="radio" name="sex" value="F" checked />女生
					<input type="radio" name="sex" value="M" />男生
				</div>
				<p></p>
				<div class="form-group">
					<label>生日</label>
					<input type="text" name="birthday" class="form-control" required placeholder="請輸入YYYY-MM-DD"/>
				</div>
				<p></p>
				<div class="form-group">
					<label>地址</label>
					<input type="text" name="address" class="form-control" required placeholder="請輸入地址"/>
				</div>
				<p></p>
				<div class="col-md-12 text-center ">
					<button type="submit" class="btn btn-block mybtn btn-danger tx-tfm">註冊</button>
				</div>

			</form>
		</div>
	</div>
</section>


{% endblock %}